<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Information</title>
    <link rel="stylesheet" href="about.component.css">
</head>
<body>

    <div class="header">
        <img src="ITMS LOGO.png" alt="Website Logo" class="logo">
    </div>


    <div class="info-box">
        <h1>About Our Website</h1>
        <p>ITMS offers a promising solution by utilizing advanced technologies for traffic monitoring, analysis, and control. It aims to detect accidents in real-time, identify minor traffic violations, classify vehicles, predict individual vehicle speeds, and maintain a traffic data log for management and analysis.</p>
        <p>Stay tuned for more updates and feel free to explore our different sections!</p>
    </div>
</body>
</html>

