

<div class="row">
  <div class="col-4">
    <div class="p-2 px-5">
      <video #videoElement autoplay></video>
   </div>
  </div> 
  <div class="col-4">
    <div class="p-2 px-5">
        <video #videoElement1 autoplay></video>
   </div>
  </div>
  <div class="col-4">
    <div class="p-2 px-5">
        <video #videoElement autoplay></video>
   </div>
  </div>
</div>
<div class="row">
  <div class="col-4">
   <div class="p-2 px-5">
        <video #videoElement autoplay></video>
   </div>
  </div>
  <div class="col-4">
   <div class="p-2 px-5">
        <video #videoElement autoplay></video>
   </div>
  </div>
  <div class="col-4">
   <div class="p-2 px-5">
        <video #videoElement autoplay></video>
   </div>
  </div>
</div>
<div class="row">
  <div class="col-4">
   <div class="p-2 px-5">
        <video #videoElement autoplay></video>
   </div>
  </div>
  <div class="col-4">
   <div class="p-2 px-5">
        <video #videoElement autoplay></video>
   </div>
  </div>
  <div class="col-4">
   <div class="p-2 px-5">
        <video #videoElement autoplay></video>
   </div>
  </div>